<ul class="comment-detail">
  <li class="response-body" id="<%= response.id %>">
    <% if current_user %>
      <% if response.favorite %>
        <img src="/img/check.png" class="check-img">
      <% else %>
        <img src="/img/gray_check.png" class="check-img">
      <% end %>
    <% end %>
  <%= response.body %>
  <div class="response-info">
    <p>
      <% if current_user %>
        <img src="/img/grn_arrow.png" class="vote-img">
      <% end %>
      Votes: <span class="response-vote"><%= response.votes.count %></span> | Author: <span class="response-author"><%= response.user.username.capitalize %></span> | Posted on: <span class="response-date"><%= response.updated_at.strftime('%B %e, %Y') %>
      <% if current_user %>
        <img class="responder" src="/img/respond.png">
      <% end %>
    </p>
  </div>

  <% if response.responses.length > 0 %>
    <% response.responses.each do |response| %>
      <%= erb :"/comments/show", locals: { response: response }%>
    <% end %>
  <% end %>
  </li>
</ul>

